@inject IStringLocalizer<CommonResources> stringLocalizer

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>@ViewBag.Title</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="Localization Administration Form">

    @RenderSection("headertop", required: false)

    <link rel="shortcut icon" href="localizationAdmin\favicon.ico" type="image/x-icon"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>

    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="~/css/bootstrap/dist/css/bootstrap.min.css"
          rel="stylesheet"/>
    <link href="~/css/font-awesome/css/font-awesome.min.css"
          rel="stylesheet"/>

    <link href="~/css/application.css" rel="stylesheet"/>
    <style>
        label {
            display: block;
            margin-top: 10px;
            margin-bottom: 0;
        }
    </style>
    <script src="~/bower_components/jquery/dist/jquery.min.js"></script>
    @RenderSection("header", required: false)
</head>
<body>
<div class="banner">
    <div id="TitleBar">
        <a href="./">
            <img src="~/images/Westwind.Localization_128.png"
                 style="height: 35px; float: left"/>
            <div style="float: left; margin-left: 5px; line-height: 1.2">
                <i style="color: steelblue; font-size: 0.8em; font-weight: bold;">West Wind Globalization</i><br/>
                <i style="color: whitesmoke; font-size: 1.25em; font-weight: bold;">
                    @ViewBag.Title
                </i>
            </div>
        </a>
    </div>
</div>

<nav class="menubar " style="background: #727272;">
    <ul id="MenuButtons" class="nav navbar-nav pull-right navbar">
        <li>
            <a href="~/">
                <i class="fa fa-home"></i> @stringLocalizer["Home"]
            </a>
        </li>
        <li>
            <a href="~/LocalizationAdmin">
                <i class="fa fa-gears"></i> @stringLocalizer["ResourceEditor"]
            </a>
        </li>
        <li>
            <a href="https://github.com/RickStrahl/Westwind.Globalization">
                <i class="fa fa-github"></i> GitHub
            </a>
        </li>
        <li>
            <a href="~/">
                <i class="fa fa-home"></i>
            </a>
        </li>
    </ul>
    <div class="clearfix"></div>
</nav>

<div class="container body-content">
    @RenderBody()

    <hr/>

    <footer>
        <p>
            &copy; @DateTime.Now.Year, <a href="http://weblog.west-wind.com">Rick Strahl, West Wind Technologies</a>
        </p>
    </footer>
</div>

<script src="~/css/dist/js/bootstrap.min.js"></script>
@RenderSection("scripts", required: false)
</body>
</html>